*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

/*
 * Custom Properties o variables en CSS
*/
:root {
  --fonts-sans-serif: "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto','Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --fonts-serif: "";
  --color-primary: rgb(233, 137, 12);
  --color-secondary: rgb(61, 146, 174);
  --color-terciary: rgb(157, 123, 142);

  --color-success: rgb(0, 204, 153);
  --color-info: rgb(0, 149, 182);
  --color-warning: rgb(251, 236, 93);
  --color-danger: rgb(207, 16, 32);
  --color-danger--darkest: rgba(207, 16, 32, 0.5);

  --color-white: rgb(253, 253, 253);
  --color-light: rgb(240, 240, 240);
  --color-gray: rgb(235, 235, 235);
  --color-dark: rgb(50, 50, 50);
  --color-black: rgb(10, 10, 10);

  --color-primary-light: rgba(252, 100, 109, 0.1);
  --color-secondary-light: rgba(61, 146, 174, 0.1);
  --color-terciary-light: rgba(157, 123, 142, 0.1);

  --color-success-light: rgb(0, 204, 153, 0.1);
  --color-info-light: rgb(0, 149, 182, 0.1);
  --color-warning-light: rgb(251, 236, 93, 0.1);
  --color-danger-light: rgb(207, 16, 32, 0.1);

  --border-color: rgb(230, 230, 230);
  --border-color-2: rgb(32, 32, 32);

  --shadow-1: 0px 2px 4px rgba(32, 32, 32, 0.1);
  --shadow-2: 0px 4px 8px rgba(32, 32, 32, 0.1);
  --shadow-3: 0px 8px 16px rgba(32, 32, 32, 0.1);
  --shadow-4: 0px 16px 24px rgba(32, 32, 32, 0.1);
  --shadow-5: 0px 24px 32px rgba(32, 32, 32, 0.1);

  --padding: 0.5rem 1rem;
  --margin: 1rem;
}
